* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
  }

  /* fikser små detaljer som skrift,baggrunds farve og tekst farve */
  body {
    font-family: 'poppins' , sans-serif;
    background-color: #031625;
    color: white;
}
   
/*tager fat om class team-members og putter dem i ordenlig position */
.team-members {
    display: flex;
    justify-content: flex-end; 
    margin-left: 0.5em;
    padding-left: 5%;
    
}

/*fikser baggrunds farve, og udseende på boksen */
.team-member {
    width: 45%; 
    margin: 0.5em; 
    background: #222939;
    box-sizing: border-box;
    padding: 5%;
    border-radius: 20px;
    background: linear-gradient(to bottom, #222939, #222939 50%, transparent 100%);
}

/* Position af team &news */
.team, .news {
    padding-top: 1em;
}

/* sørger for at teksten ikke hopper under news */
#teamtekst {
float: left;
}

/* Laver afstand på de forskellige elemnter */
.team-member {
    margin-top: 20px;
    text-align: center;
}

/*ændrer på de små team member iconer */
.team-member img {
    width: 60px; 
    height: auto;
    border-radius: 50%;
    background-color:#2a3351;
}


.small {
font-size: 12px;
}

.ingame {
    margin-top: 0.5em;
}

/*sørger for at stats som nu er ændret til se alle kan ligge ved siden af current team */
#stats {
    display: block;
    text-align: right;
    text-decoration: none;
    color: white;
    background:linear-gradient(0.5deg, #fff, #931cf0) ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.news {
    position: relative; 
}

#senestetekst {
  float: left;
}

/* Ændrer på billedet der hører til artiklen */
#træner {
    width: 100%; 
    height: auto;
    border-radius: 30px;
    align-self: stretch;
    margin-top: 20px;
}

/* ændrer på læs mere knappen der står ved siden af seneste nyheder */
#Læs {
  display: block;
  text-align: right;
  color: white;
  background:linear-gradient(0.5deg, #fff, #931cf0) ; /* sætter en speciel baggrunds farve */
  background-clip: text; /* Tilføjer det til teksten*/
  -webkit-text-fill-color: transparent; /* Sørger for at fille teksten */
}

/*Teksten til artiklen på billedet */
.indhold {
  text-align: center;
  font-size: 9px; 
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 20px;
}

#hvid {
  color: white;
}

body {
  background-color: rgb(171, 243, 243);
  font-family: 'poppins', sans-serif;
  font-weight: lighter;
  text-align: left;
}

 /* Fikser slideshows størrelse/boks */
.content {
  margin: auto;
  padding: 0px;
  border-radius: 10px;
  height: 300px;
  width: auto;
  overflow: hidden;
  position: relative;
}

/* redigere i slide og udseende*/
.slides {
  position: absolute;
  display: flex;
  animation-name: slide;
  animation-duration: 30s; /* Hvor lang tid den viser animationen */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  will-change: transform;
}

.slide_content {
  flex: 0 0 auto;
  width: auto;
  height: 300px;
}

/* styrer hvor meget hvert enkelt slide rykker sig */
@keyframes slide {
  0%, 10% { 
    transform: translateX(0px);
  }
  12%, 22% { 
    transform: translateX(-400px);
  }
  24%, 34% { 
    transform: translateX(-800px);
  }
  36%, 46% { 
    transform: translateX(-1200px);
  }
  60%, 100% { /* Starter forfra */
    transform: translateX(0px);
  }
}
