* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }

  body {
    font-family: 'poppins' , sans-serif;
    background-color: #031625;
    color: white;
}
   
.team-members {
    display: flex;
    flex-wrap: row;
    justify-content: center; 
    
}

.team-member {
    width: 45%; 
    margin: 0.5em; 
    background: #222939;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 20px;
    background: linear-gradient(to bottom, #222939, #222939 50%, transparent 100%);
}


#knap {
  margin: 1em;
}
 .banner {
  padding: 0px 30px;
  text-decoration: none;
  border-radius: 30%;
 }

  
.overskrift {
    background-color: #e03a3e;
    color: white;
    text-align: left;
    padding: 3em;
    border-radius: 20px;
    background: linear-gradient(to right, #e03a3e, #e03a3e 50%, transparent 100%);
}
  
.overskrift h1 {
    margin-bottom: 0.5em;
}
  
#tilmelding {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    background:linear-gradient(114.63deg, #fff, #931cf0) ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.team, .news {
    padding-top: 1em;
    
    
}

#teamtekst {
float: left;
}

.team-member {
    text-align: center; 
    margin-top: 20px;
}

.team-member img {
    width: 100px; 
    height: auto;
    border-radius: 50%;
    background-color:#2a3351;
    align-self: stretch;
    

}
.small {
font-size: 12px;
}

.ingame {
    margin-top: 0.5em;
}
  
#stats {
    display: block;
    text-align: right;
    text-decoration: none;
    color: white;
    background:linear-gradient(0.5deg, #fff, #931cf0) ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.news {
    position: relative; 
}

#senestetekst {
  float: left;
  }

#træner {
    width: 100%; 
    height: auto;
    border-radius: 30px;
    align-self: stretch;
    margin-top: 20px;
}

#Læs {
  display: block;
  text-align: right;
  text-decoration: none;
  color: white;
  background:linear-gradient(0.5deg, #fff, #931cf0) ;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.indhold {
  text-align: center;
  font-size: 9px; 
  color: white; 
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 20px;
}


body {
  background-color: rgb(171, 243, 243);
  font-family: 'poppins', sans-serif;
  font-weight: lighter;
  text-align: left;
}
.content {
  margin: auto;
  padding: 0;
  border-radius: 10px;
  height: 300px;
  width: auto;
  overflow: hidden;
  border: 1px saddlebrown solid;
  box-shadow: 20px hsl(0, 0%, 3%);
  z-index: -1;
}
.show {
  padding: 10%;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-style: italic;
  width: fit-content;
}

.slide_content {
  float: left;
  width: auto;
  height: auto;
}
.slides {
  width: auto;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  /* -webkit-animation-direction: alternate; */
  -webkit-animation-play-state: running;
  display: flex;
  justify-content: left;
  align-items: left;
}
.slide_content:nth-child(1) {
  background: #FF0101;
  z-index: 1;
}

.slide_content:nth-child(2) {
  background: #102145;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }

  40% {
    margin-left: -400px
  }

  60% {
    margin-left: -800px
  }

  80% {
    margin-left: -1200px
  }


  

