* {
    margin: 0; 
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Forhindrer at der kommer en scrollbar */
}

.background {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Sikre at baggrundsbilledet er bagerst */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#billed {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Sikre at billedet fylder hele skærmen uden at blive udstrukket */
}

.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centrerer containeren */
    text-align: center; /* Sikre at knapperne er centreret ifht baggrundsbilledet */
    z-index: 10; /* Sikre at knapperne altid er foran baggrundsbilledet */
}

.button1, .button2 {
    margin: 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 12px 24px;
    margin: 10px auto;
}

.button1 {
    background: linear-gradient(45deg, #031625, #FF0101);
    color: white;
}

.button2 {
    background: linear-gradient(45deg, #ffffff, #FF0101);
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Gør at det kun er teksten der bliver påvirket */
    font-weight: bold;
    color: white;
}
