/*Font, samt baggrundfarve*/
html, body {
    margin: 0; /*bruges til at skabe plads omkring elementer, uden for definerede grænser*/
    padding: 0; /* bruges til at skabe plads omkring elementer, inden for definerede grænser*/
    background-color: #031625; /* bestemmer farven*/
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container-text {
    width: 100%; /* bestemmer bredden på vores container*/
    box-sizing: border-box;
    border-radius: 80px;
    padding: 20px;
    text-align: left; /*bestemmer placeringen af vores tekst, i dette tilfælde til venstre*/
    margin: 5px auto 0;
}

.container-text label {
    font-weight: normal;
    font-size: 10px;
    text-align: left 
    
}

/*Containers til at indsætte tekst, email og dato*/
.container-text input[type="text"],
.container-text input[type="email"],
.container-text input[type="date"] {
    width: auto;
    padding: 20px;
    margin: 10px auto;
    box-sizing: border-box;
    font-size: 25px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

/*gradient farve til body tekst*/
h2 {
    font-size: 20px;
    background: linear-gradient(45deg, #ffffff, #931CF0); /*linear-gradient bruges til at fade vores farver*/
    background-clip: text; /*betyder hvorlangt baggrunden til skal strække sig inden for et element*/
    -webkit-text-fill-color: transparent;
}
/*Body box er centreret*/
.body-box {
    font-size: 20px;
    text-align: center;
}
