.burger-menu-child1,
.burger-menu-child2,
.line-div { /*styling af burger menu*/
  position: absolute;
  top: 0;
  left: 0;
  border-top: 3px solid var(--color-red-200);
  box-sizing: border-box;
  width: 33px;
  height: 3px;
}
.burger-menu-child1,
.burger-menu-child2 { /*styling af burger menu*/
  top: 8px;
}
.burger-menu-child2 {
  top: 16px;
}
.burger-menu2 {
  width: 30px;
  height: 16px;
  position: relative;
}
.burger-menu-wrapper { /*styling af burger menu, med hvilken vej, som teksten skal stå i dette tilfælde søjle*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}

.shape14 { /*styler shape14, med højde, bredde, baggrunds farve og centreret teksten i midten*/
    display: flex;
    align-items: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FF0101
  
}
.live { /* styler, vores se live icon, med bredde, bogstav mellemrum, position og linje højden*/
  position: relative;
  letter-spacing: -0.17px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 35px;
}
.label-1-container { /*styler vores label-1 container, med flex-direction som søjle*/
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.sealle { /*styler vores se alle, med linje højde, position, baggrunds farve og skrift farve*/
  align-self: center;
  position: relative;
  line-height: 20px;
  font-weight: 600;
  background: linear-gradient(114.63deg, #fff, #931cf0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.label-wrapper1 { /*styler vores label-wrapper1 med bredde, flex direction, align-items, skriftstørrelse*/
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-sm);
}

.label12 { /*styler vores label12 med flex direction, align-items, justify-content, gap, skriftstørrelse og skrift farve*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.image2 { /*styler vores image2 med flex direction, align-items, justify-content, gap*/ 
  height: 164px;
  position: relative;
  border-radius: var(--br-5xl);
  background: linear-gradient(
      180deg,
      rgba(22, 31, 88, 0) 45.45%,
      #0c1342 81.16%
    ),
    #102145; /*brugt til at fade farverne*/
  display: none;
  
}
.matchpic { /*styler vores matchpic med flex direction, align-items, justify-content, gap*/
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
  
}

.label-4-wrapper { /*styler vores label-4-wrapper med flex direction, align-items, justify-content, gap*/
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
}

.image3,
.kamp-1 { /*styler vores image3 og kamp-1 med flex direction, align-items, justify-content, gap*/
  align-self: stretch;
  border-radius: var(--br-5xl);
  background: linear-gradient(
      180deg,
      rgba(22, 31, 88, 0) 45.45%,
      #0c1342 81.16%
    ),
    #102145;
    
}
.kamp-1 { /*styler vores kamp-1 med flex direction, align-items, justify-content, gap*/
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 10px;
  gap: 10px;
  margin-bottom: 1em;
  text-align: center;
}
