* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    color: white;
    font-family: poppins, sans-serif;
    background: #031625; 
  }
  
  /* Stylere header og navigation bar */
  header {
    background-color: #031625; 
    color: white;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accountNav {
    display: block;
  }

  /* Stylere burgermenuen */
  .burger-menu {
    background: none;
    border: none;
    color: #FF0101;
    font-size: 24px;
    cursor: pointer;
  }
  
  
  .menu-actions {
    display: flex;
    align-items: center;
  }
  
  /* Styling af bruger og search knap */
  .menu-actions button {
    background: transparent;
    border: none;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  
  /* tekst test*/
  .search-button img, .account-button img {
    height: 24px;
    width: auto;
  }
  
  /* Styling af hele menuen til venstre */
  .menu-overlay {
    position: fixed;
    width: 60%;
    height: 100%;
    background-color: #333333; 
    top: 0;
    left: -100%; 
    transition: left 0.3s;
    padding-top: 50px; 
    z-index: 2; 
  }
  
  /* Styling af close knappen */
  .close-btn {
    font-size: 24px;
    color: #FF0101;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  /* Styling af teksten til menuen til venstre */
  .menu-overlay ul li a {
    color: white; 
    text-decoration: none; /* No underline */
    display: block;
    margin-bottom: 20px; /* Space between menu items */
    list-style: none;
    padding-left: 20px;
    color: white;
    font-size: 1.5em; 
    font-weight: bold; 
  }
  
  /* Hover effekt til menuen */
  .menu-overlay ul li a:hover {
    color: #ccc; 
  }
  
  /* Aktivere rød farve efter du har klikket på en af menuerne */
  .menu-overlay ul li a:active,
  .menu-overlay ul li a.active {
    color: red; /* Red text for active state */
    color: red; 
  }
 
  .slideshow {
    position: relative;
}

.account-menu-overlay {
  position: fixed;
  width: 60%;
  height: 100%;
  background-color: #333333;
  top: 0;
  right: -60%; 
  transition: right 0.3s ease; /* Ensure this is set to transition the 'right' property */
  padding-top: 50px;
  z-index: 2;
}

.account-menu-overlay ul {
  list-style-type: none;
  padding: 0; 
  margin: 0px; 
  color: white;
  margin-bottom: 20px;
}

.account-menu-overlay ul li a {
  color: white; 
  text-decoration: none; 
  display: block; 
  padding: 10px; 
  transition: color 0.3s; 
}
.account-menu-overlay ul li a:hover {
  color: #ccc;
}

/* Active style for account menu overlay links (clicked) */
.account-menu-overlay ul li a:active {
  color: red; /* Red when active */
}

/* Style for maintaining red color on a currently 'active' class link */
.account-menu-overlay ul li a.active {
  color: red; /* Keeps the link red if it has an 'active' class */
}

.close-account-menu {
  font-size: 24px;
  color: red;
  position: absolute;
  top: 0;
  right: 0; /* Positioned to the right */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.user-info {
  color: white;
  text-align: center;
  margin-bottom: 20px;

}
 /* tekst */
.account-tekst{
  color: white;
  text-align: right;
  margin-bottom: 20px;
  font-weight: bold;
}


.user-picture {
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  border-radius: 50%; /* Makes the image round */
  margin-bottom: 10px;
  object-fit: cover;
}

.member-number {
  margin-bottom: 10px;
}

