* {
    margin: 0; /*bruges til at skabe plads omkring elementer, uden for definerede grænser*/
    padding: 0; /*bruges til at skabe plads omkring elementer, uden for definerede grænser*/
    box-sizing: border-box;
  }
  /* her bliver bredden og højden bestemt, samt samt hvilken farve/font typer, som bliver brugt*/
  body, html {
    width: 100%; 
    height: 100%;
    color: white;
    font-family: poppins, sans-serif;
    background: #031625; 
  }
  
  /* Stylere header og navigation bar */
  header {
    background-color: #031625; 
    color: white;
    padding: 10px;
  }
  /*tesksten er centreret, med afstand i mellem elementerne & teksten bliver vist vha display: flex;*/
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accountNav {
    display: block;
  }

  /* Stylere burgermenuen */
  .burger-menu {
    background: none;
    border: none;
    color: #FF0101;
    font-size: 24px;
    cursor: pointer;
  }
  
  /*teksten er centreret*/
  .menu-actions {
    display: flex;
    align-items: center;
  }
  
  /* Styling af bruger og search knap */
  .menu-actions button {
    background: transparent;
    border: none;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  
  /* tekst test*/
  .search-button img, .account-button img {
    height: 24px;
    width: auto;
  }
  
  /* Styling af hele menuen til venstre */
  .menu-overlay {
    position: fixed;
    width: 60%;
    height: 100%;
    background-color: #333333; 
    top: 0;
    left: -100%; 
    transition: left 0.3s;
    padding-top: 50px; 
    z-index: 2; 
  }
  
  /* Styling af close knappen */
  .close-btn {
    font-size: 24px;
    color: #FF0101;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  /* Styling af teksten til menuen til venstre */
  .menu-overlay ul li a {
    color: white; 
    text-decoration: none; /* No underline */
    display: block;
    margin-bottom: 20px; /* Space between menu items */
    list-style: none;
    padding-left: 20px;
    color: white;
    font-size: 1.5em; 
    font-weight: bold; 
  }
  
  /* Hover effekt til menuen */
  .menu-overlay ul li a:hover {
    color: #ccc; 
  }
  
  /* Aktivere rød farve efter du har klikket på en af menuerne */
  .menu-overlay ul li a:active,
  .menu-overlay ul li a.active {
    color: red; /* Red text for active state */
    color: red; 
  }
 
  .slideshow {
    position: relative;
}
/*position, højde, bredde, baggrunds farve, z-index og transition bliver stylet her*/
.account-menu-overlay {
  position: fixed;
  width: 60%;
  height: 100%;
  background-color: #333333;
  top: 0;
  right: -60%; 
  transition: right 0.3s ease; /* overføre den rigtige engenskab */
  padding-top: 50px;
  z-index: 2;
}
/* margin, padding, farve bliver stylet her*/
.account-menu-overlay ul {
  list-style-type: none;
  padding: 0; 
  margin: 0px; 
  color: white;
  margin-bottom: 20px;
}
/*transition, farve, margin, padding, tekstens vej bliver stylet her*/
.account-menu-overlay ul li a {
  color: white; 
  text-decoration: none; 
  display: block; 
  padding: 10px; 
  transition: color 0.3s; 
}
.account-menu-overlay ul li a:hover {
  color: #ccc;
}

/* Styler acount overlay menuen */
.account-menu-overlay ul li a:active {
  color: red; /* Red when active */
}

/* Styler fraven til at være rød på et link */
.account-menu-overlay ul li a.active {
  color: red; /*linket forbliver rødt, hvis det har en klasse*/
}
/*skrift størrelse, farve, postion, hvor containeren er placeret, bliver stylet her*/
.close-account-menu {
  font-size: 24px;
  color: red;
  position: absolute;
  top: 0;
  right: 0; /* positioneret til højre */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}
/* teskt cenreret, samt farven bliver stylet her*/
.user-info {
  color: white;
  text-align: center;
  margin-bottom: 20px;

}
 /* tekst */
.account-tekst{
  color: white;
  text-align: right;
  margin-bottom: 20px;
  font-weight: bold;
}

/*højden, bredden, marginer, border & billedet bliver stylet her*/
.user-picture {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; /* gør billedet rund */
  margin-bottom: 10px;
  object-fit: cover;
}

.member-number {
  margin-bottom: 10px;
}

