* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    color: white;
    font-family: poppins, sans-serif;
    background: #031625; 
  }
  
  /* Stylere header og navigation bar */
  header {
    background-color: #031625; 
    color: white;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Stylere burgermenuen */
  .burger-menu {
    background: none;
    border: none;
    color: #FF0101;
    font-size: 24px;
    cursor: pointer;
  }
  
  
  .menu-actions {
    display: flex;
    align-items: center;
  }
  
  /* Styling af bruger og search knap */
  .menu-actions button {
    background: transparent;
    border: none;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  
  .search-button img, .account-button img {
    height: 24px;
    width: auto;
  }
  
  /* Styling af hele menuen til venstre */
  .menu-overlay {
    position: fixed;
    width: 60%;
    height: 100%;
    background-color: #333333; 
    top: 0;
    left: -100%; 
    transition: left 0.3s;
    padding-top: 50px; 
    z-index: 2; 
  }
  
  /* Styling af close knappen */
  .close-btn {
    font-size: 24px;
    color: #FF0101;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  /* Styling af teksten til menuen til venstre */
  .menu-overlay ul li a {
    color: white; 
    text-decoration: none; /* No underline */
    display: block;
    margin-bottom: 20px; /* Space between menu items */
    list-style: none;
    padding-left: 20px;
    color: white;
    font-size: 1.5em; 
    font-weight: bold; 
  }
  
  /* Hover effekt til menuen */
  .menu-overlay ul li a:hover {
    color: #ccc; 
  }
  
  /* Aktivere rød farve efter du har klikket på en af menuerne */
  .menu-overlay ul li a:active,
  .menu-overlay ul li a.active {
    color: red; 
  }